.popup__close-form {
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
}

.popup__close-form:hover {
    opacity: .6;
}