.profile {
    margin: 0;
    width: 880px;
    display: grid;
    flex-direction: row;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: max-content max-content;
    gap: 16px 0;

    /* justify-content: space-between;
    align-items: center; */
}

/* @media screen and (min-width: 681px) and (max-width: 880px) {
    .profile {
        width: 100%;
        padding: 0 27px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .profile {
        width: 282px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
} */