.profile__info-about {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (min-width: 401px) and (max-width: 680px) {
    .profile__info-about {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .profile__info-about {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}